@{
    ViewData["Title"] = "Privacy Policy";
}

<section id="privacy-section" class="text-align-center">
    <h1>@ViewData["Title"]</h1>
    <p>Content of this webpage is consumed from the RIT IST API: <a href="http://www.ist.rit.edu/api">http://www.ist.rit.edu/api</a></p>
    <div>
        <p>&copy; 2021 - Filipa Ivanković</p>
    </div>
</section>
